.QntPicker button {
    margin: 5px 10px;
}

.QntPicker label {
    font-weight: bold;
    color: rgb(155, 104, 45);
}

.QntPicker {
    display: inline-block;
}

.btn-add {
    display: inline-block;
}